# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Local files
*.log
image_cache/
sys
password

# OS
.DS_Store
Thumbs.db
